@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="py-5 text-center">
        <div class="container">
            <h1 class="display-4" id="hotelTitle">Bienvenido a Hotel Asturia</h1>
            <p class="lead">Presentación para empleados</p>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p class="text-center">En Hotel Asturia, nos esforzamos por brindar la mejor experiencia a nuestros huéspedes. Nuestro objetivo es mejorar la eficiencia y la satisfacción del cliente en cada estadía.</p>
                <p class="text-center">Este sistema les permite a los empleados gestionar el alquiler de habitaciones de manera rápida y sencilla.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title" id="checkInTitle">Check-in de Habitaciones</h2>
                        <p class="card-text">Realice el check-in de los clientes de manera rápida y eficiente.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title" id="roomAvailabilityTitle">Disponibilidad de Habitaciones</h2>
                        <p class="card-text">Verifique la disponibilidad de habitaciones y gestione su asignación.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title" id="customerRegistrationTitle">Registro de Clientes</h2>
                        <p class="card-text">Registre a los clientes y administre su información de manera segura.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
